<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>New Category!</h1>
    <div>
        <form action="#" th:action="@{/cat/new}" th:object="${catObj}" method="POST">
            <p>Name: <input type="text" th:field="*{name}" /></p>
            <button>Create</button> 
            <input type="reset" value="Reset" />
        </form>
    </div>
</body>
</html>